@import 'base/variables'
@import 'components/activities'
@import 'components/activities-card'

#app 
  font-family: 'Roboto','Helvetica','Arial',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $black

#nav 
  padding: 30px
  & a 
    font-weight: bold
    color: $black
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 2px
    
  
