@import 'base/variables'
@import 'components/activities'
@import 'components/activities-card'
@import 'components/_cart-activities-card'

#app 
  font-family: 'Roboto','Helvetica','Arial',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $black
  font-size: 12px

#nav 
  padding: 30px 60px
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  & a 
    font-weight: bold
    color: $black
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 2px
  & .icons .fa-shopping-bag
    margin-right: 20px

.fas 
  position: relative
  color: #242424

.badge p
  position: absolute
  border-radius: 100%
  background-color: #2C95C2
  top: -20px
  left: 5px
  width: 12px
  height: 10px 
  color: white
  padding: 2px 1px
  font-size: 10px
  
  